h1 {
    color : Orange;
    text-shadow: 0 0 3px #000000;
    text-transform: uppercase;
    font-family: "Trirong", serif;
    text-align: center;
    padding: 10px;
}

h2 {
    color : Orange;
    text-shadow: 0 0 3px #000000;
    text-transform: uppercase;
    font-family: "Trirong", serif;
    text-align: center;
    padding: 10px;
}

h3 {
    font-family: "Trirong", serif;
    text-align: center;
}

h4 {
    font-family: "Trirong", serif;
    text-align: center;
    font-size: 20px;
    color: Orange;
}

h5 {
    font-family: "Trirong", serif;
    text-align: right;
    font-size: 12px;
    color: black;
    padding-right: 30px
}


nav  {
    color : black
    overflow: hidden;
    background-color: #dddddd;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 56px;
    text-decoration: none;
    font-size: 15px
}

nav a:hover {
    background-color: gray;
    color: black;
    }

body {
    background-color: lightgray;
}

.leftcolumn {
    float: left;
    width: 60%;
    padding-left: 100px;
}

.rightcolumn {
    float: left;
    width: 20%;
    background-color: lightgray;
    padding-left: 150px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.footer p {
    padding: 15px;
    text-align: center;
    background: white;
    margin-top: 100px;
    font-family: "Trirong", serif;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    }

.row::after {
    content: "";
    display: table;
    clear: both;
    }

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
        }
}

@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
               }
}