h1 {
  color : Orange;
  text-shadow: 0 0 3px #000000;
  text-transform: uppercase;
  font-family: "Trirong", serif;
  text-align: center;
  padding: 10px;
}

h2 {
  color : Orange;
  text-shadow: 0 0 3px #000000;
  text-transform: uppercase;
  font-family: "Trirong", serif;
  text-align: center;
  padding: 10px;
}

h3 {
  color : Black;
  text-transform: uppercase;
  font-family: "Trirong", serif;
  text-align: Center;
  margin-bottom: 60px;
  margin-top: 100px;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: Orange;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Trirong", serif;
  font-weight: bold;
}

p {
  font-size : 18 px;
}

nav  {
  color : black
  overflow: hidden;
  background-color: #dddddd;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-size: 15px
}

nav a:hover {
  background-color: gray;
  color: black;
}

body {
  background-color: lightgray;
}

form {
  font-family: "Trirong", serif;
  text-align: center;
  margin: 40 auto;
}

.footer {
  padding: 5px;
  text-align: center;
  background: white;
  margin-top: 20px;
}

form p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

form p label {
  flex: 0 0 120px;
  text-align: center;
  padding-right: 20px;
}

form p input,
form p select,
form textarea {
   flex-growth: 1;
   padding: 8px;
   border: 1px;
   border-radius: 4px;
   text-align: center;
}