<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <script src="https://kit.fontawesome.com/2b66e05a48.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">

    <title> O nas </title>
    <link rel="stylesheet" href="{% static 'css/style_o_nas.css' %}">

</head>
<body>
    <img src="{% static 'images/strona.png' %}" alt="Strona Główna" width="1500" height="220">
    <h1> Witaj na naszej stronie: Zarezerwuj Sp. z o.o </h1>
    <h2> Tu znajdziesz obszerną ofertę mieszkań zgodnie ze swoimi oczekiwaniami. </h2>

    <nav>
        <a class="fas fa-window-restore" href="{% url 'strona_glowna' %}"> Strona glowna </a>
        <a class="fas fa-key" href="{% url 'rejestracja' %}"> Rejestracja konta </a>
        <a class="fas fa-house-user" href="{% url 'lista_mieszkan' %}"> Oferta mieszkan </a>
        <a class="fas fa-calendar-alt" href="{% url 'rezerwacja' %}"> Rezerwacja mieszkania </a>
        <a class="fas fa-chalkboard-teacher" href="{% url 'uslugi' %}"> Nasze uslugi </a>
        <a class="fas fa-edit" href="{% url 'zadaj_pytanie' %}"> Zadaj pytanie </a>
    </nav>

  <h3> O nas </h3>
  <h4> Czym się zajmujemy ? </h4>
  <p>
      Witamy na naszej stronie – miejscu, gdzie Twoje marzenia o idealnym domu, zyskownej inwestycji
      czy bezpiecznym wynajmie stają się rzeczywistością!
      Jesteśmy nową, dynamicznie rozwijającą się firmą nieruchomościową,
      której misją jest redefiniowanie standardów obsługi klienta na rynku częstochowskim i okolicach.

      Rozumiemy, że transakcje związane z nieruchomościami to jedne z najważniejszych decyzji w życiu.
      Dlatego stawiamy na kompleksowe wsparcie, transparentność i indywidualne podejście do każdego klienta.
      Niezależnie od tego, czy szukasz swojego pierwszego mieszkania, planujesz sprzedać dotychczasową nieruchomość,
      czy chcesz zainwestować w rynek najmu – jesteśmy tu, aby Cię poprowadzić przez każdy etap procesu.
  </p>

  <h4> Nasze Wartości: </h4>
    <h4> Profesjonalizm </h4>
    <p>
      Działamy z najwyższą starannością i wiedzą, dbając o każdy detal transakcji. Nasz zespół to pasjonaci rynku nieruchomości,
      gotowi sprostać nawet najbardziej wymagającym wyzwaniom.
    </p>

    <h4> Zaufanie i Transparentność </h4>
    <p>
      Budujemy relacje oparte na zaufaniu.
      Gwarantujemy pełną przejrzystość wszystkich działań, informując Cię o każdym kroku i rozwiewając wszelkie wątpliwości.
    </p>


    <h4>Indywidualne Podejście </h4>
    <p>
      Każdy klient jest dla nas wyjątkowy. Słuchamy uważnie Twoich potrzeb i oczekiwań, dopasowując nasze usługi tak,
      by idealnie odpowiadały Twojej sytuacji.
    </p>

    <h4> Innowacyjność </h4>
    <p>
      Wykorzystujemy nowoczesne narzędzia i technologie, aby proces kupna, sprzedaży czy wynajmu był szybki, efektywny i komfortowy.
    </p>


    <h4> Lokalna Wiedza </h4>
    <p>
      Doskonale znamy rynek nieruchomości w Częstochowie i okolicach.
      Dzięki temu jesteśmy w stanie oferować najtrafniejsze porady i najlepsze oferty.
    </p>


  <h4> Co Nas Wyróżnia?</h4>
    <p>
      Choć jesteśmy nowi na rynku, posiadamy świeże spojrzenie i ogromny zapał, by zaoferować usługi na najwyższym poziomie.
      Nie boimy się wyzwań i zawsze szukamy najkorzystniejszych rozwiązań dla naszych klientów.
      Stawiamy na partnerską współpracę, dbając o to, by każda transakcja była dla Ciebie przyjemnym i bezstresowym doświadczeniem.
    </p>

  <h3> Dołącz do grona naszych zadowolonych klientów i przekonaj się, że nieruchomości mogą być proste ! </h3>


<div class="footer">
  <p> All Rights Reserved. 2025. Częstochowa. </p>
</div>

</body>
</html>