<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <script src="https://kit.fontawesome.com/2b66e05a48.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title> Nasze usługi </title>
    <link rel="stylesheet" href="{% static 'css/style_uslugi.css' %}">


</head>
<body>
    <img src="{% static 'images/strona.png' %}" alt="Strona Główna" width="1500" height="220">
    <h1> Witaj na naszej stronie: Zarezerwuj Sp. z o.o  </h1>
    <h2> Tu znajdziesz obszerną ofertę mieszkań zgodnie ze swoimi oczekiwaniami. </h2>

    <nav>
        <a class="fas fa-window-restore" href="{% url 'strona_glowna' %}"> Strona glowna </a>
        <a class="fas fa-key" href="{% url 'rejestracja' %}"> Rejestracja konta </a>
        <a class="fas fa-house-user" href="{% url 'lista_mieszkan' %}"> Oferta mieszkan </a>
        <a class="fas fa-calendar-alt" href="{% url 'rezerwacja' %}"> Rezerwacja mieszkania </a>
        <a class="fas fa-chalkboard-teacher" href="{% url 'uslugi' %}"> Nasze uslugi </a>
        <a class="fas fa-edit" href="{% url 'zadaj_pytanie' %}"> Zadaj pytanie </a>
    </nav>

    <h3> Nasze usługi</h3>

    <ul>
        <li> Profesjonalna wycena nieruchomości: Dokładna analiza rynkowa i oszacowanie wartości nieruchomości,
            aby zapewnić konkurencyjną cenę sprzedaży. </li>

        <li> Przygotowanie nieruchomości do sprzedaży (Home Staging): Doradztwo w zakresie poprawy atrakcyjności
            wizualnej nieruchomości, np. poprzez aranżację wnętrz, drobne naprawy czy profesjonalne zdjęcia. </li>

        <li> Marketing i promocja oferty: Tworzenie profesjonalnych ogłoszeń, publikowanie ich na wiodących
            portalach nieruchomościowych, w mediach społecznościowych oraz w lokalnych gazetach. </li>

        <li> Organizacja prezentacji nieruchomości: Umawianie i prowadzenie oględzin dla potencjalnych kupujących. </li>

        <li> Negocjacje warunków sprzedaży: Reprezentowanie interesów sprzedającego
            w negocjacjach cenowych i warunków transakcji. </li>

        <li> Wsparcie prawne i formalne: Pomoc w kompletowaniu niezbędnych dokumentów,
            weryfikacji stanu prawnego nieruchomości oraz współpraca z notariuszem. </li>
    </ul>

<div class="footer">
  <p> All Rights Reserved. 2025. Częstochowa. </p>
</div>

</body>
</html>