<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <script src="https://kit.fontawesome.com/2b66e05a48.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">

    <title> Zadaj pytanie. Sukces! </title>
    <link rel="stylesheet" href="{% static 'css/style_zadaj_pytanie_sukces.css' %}">

</head>
<body>
    <img src="{% static 'images/strona.png' %}" alt="Strona Główna" width="1500" height="220">
    <h1> Witaj na naszej stronie.</h1>
    <h2> Tu znajdziesz obszerną ofertę mieszkań zgodnie ze swoimi oczekiwaniami. </h2>

    <nav>
        <a class="fas fa-key" href="{% url 'rejestracja' %}"> Rejestracja konta </a>
        <a class="fas fa-house-user" href="{% url 'lista_mieszkan' %}"> Oferta mieszkan </a>
        <a class="fas fa-calendar-alt" href="{% url 'rezerwacja' %}"> Rezerwacja mieszkania </a>
        <a class="fas fa-chalkboard-teacher" href="{% url 'uslugi' %}"> Nasze uslugi </a>
        <a class="fas fa-edit" href="{% url 'zadaj_pytanie' %}"> Zadaj pytanie </a>
    </nav>


    <h3> Dziękujemy, {{imie}}. Twoja wiadomość została wysłana. </h3>

</body>
</html>